.example-card {
  max-width: 400px;
}

.welcome-div {
  margin: 20px auto;

  width: 65%;
  text-align: center;
}

.welcome {
  margin: 0 auto;
}

mat-card {
  margin-bottom: 20px;
}
